South
Django
BeautifulSoup
django-mptt
MySQL-python
django_admin_bootstrapped
pip
cpe
python-dateutil
Celery
django-celery
PyYAML
redis
django-registration
Pillow
python-social-auth
django-extensions
django-storages
django-boto
filemagic
requirements-parser
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
git+https://github.com/sigmavirus24/github3.py#egg=github3.py
elasticsearch
simplejson
django-tastypie
kombu
billiard
pytz
boto
